.box {
    /* width: 30%; */
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    position: relative;
}

.btn-info {
    background-color: #08132F !important;
    color: #fff !important;
    border-color: #08132F !important;
}

.btn-info:hover {
    background-color: #fff !important;
    color: #08132F !important;
}

.btn-info {
    position: absolute;
    left: 9px;
    top: 0;
}

.pointer {
    cursor: pointer;
}

.hide {
    display: none;
}
.accordion-item {
    border: 0px !important;
}
.accordion-button {
    border: 0px !important;
    padding: 0px !important;
    background-color: #fff !important;
    color: #000 !important;
    box-shadow: unset !important;
}
.btn-custom {
    background-color: #8E9B2C;
    color: #fff;
    font-size: 14px;
    line-height: 1.1rem;
    padding: 10px 20px;
}
.setting-update .card-body .row {
    background-color: #f5f7fd;
    border-radius: 0px;
    padding: 20px;
    margin: 0 auto;
}
.usernm-listing {
    border: 1px solid #ddd;
    padding: 10px !important;
    border-radius: 5px;
    margin-top: 13px;
    background-color: #527195;
    color: #fff;
}
li.unmli {
    border-bottom: 1px solid #fff;
    padding: 10px 10px;
    cursor: pointer;
}
.usernm-listing {
    border: 1px solid #ddd;
    padding: 10px !important;
    border-radius: 5px;
    margin-top: 13px;
    background-color: #527195;
    color: #fff;
    height: 434px;
    margin-bottom: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}
.usernm-listing::-webkit-scrollbar {
    width: 12px;
}

.usernm-listing::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #cacaca;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.usernm-listing::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #bdbfc7;
}
li.unmli:hover {
    background-color: #ddd;
    color: #000;
    transition: 0.5s all ease-out;
}
.right-data {
    background-color: #f5f7fd;
}
.btn-custom-2 {
    background-color: #08132F;
    color: #fff;
    font-size: 14px;
    line-height: 1.1rem;
    padding: 10px 20px;
}
.btn-custom-2:hover {
    color: #fff;
}
.search-box .fas.fa-search {
    position: absolute;
    right: 20px;
    top: 10px;
}
.img i {
    font-size: 30px;
}
.btm-d i {
    font-size: 11px;
    padding-top: 6px !important;
    padding-right: 5px;
}
.switchcard .dropdown-toggle::after{
    content: unset !important;
}
.card.switchcard {
    background-color: #F3F5F9;
    border-radius: 10px;
}
.sidecard h6 {
    font-size: 14px;
}
.sidecard .btm-d p {
    margin-bottom: 10px;
}
.landing .card-header,.setting .card-header {
    background-color: #F8FBF8;
}
.admin-console .dropdown-menu {
    width: 210px;
}
/* .main-sidebar li.nav-item.menu_license::after {
    content: "DEV";
    width: 50px;
    height: 20px;
    color: #fff;
    position: absolute;
    top: 5px;
    left: 12px;
}
.main-sidebar:hover li.nav-item.menu_license::after {
    content: "";
    width: 50px;
    height: 20px;
    color: #fff;
    position: absolute;
    top: 5px;
    left: 12px;
} */
.world::after {
    content: "DEV";
    width: 50px;
    height: 20px;
    color: #fff;
    position: absolute;
    top: 5px;
    left: 12px;
}
.main-sidebar:hover .user-panel.pb-3.d-flex.side_label::after {
    content: unset;
    opacity: 0;
}

[class*=sidebar-dark-] { background-color: #fff !important;}

[class*=sidebar-dark-] .sidebar a {
    color: unset !important;
}

[class*=sidebar-dark] .brand-link {
    border-bottom: 1px solid orange;
}

thead { background-color: #F7941D !important;}
thead th,td { font-size: 14px !important; color: #121212 !important;}

.submit_btn {
    background-color: #F7941D !important;
    color: #121212 !important;
    border: 1px solid #F7941D !important;
}

.submit_btn:hover {
    color: #F7941D !important;
    background-color: #fff !important;
}

.page-item.active .page-link {
    background-color: #F7941D !important;
    border-color: #F7941D !important;
}

.table thead th {
    border-bottom: none !important;
    border-top: none !important;
}

tbody tr:hover {
    background-color: #f4f4f4;
}

label:not(.form-check-label):not(.custom-file-label){
    font-size: 14px !important;
}

/* 
.main-sidebar {
    height: 100%;
    width: 140px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: width 0.5s; 
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)!important;
    display: inline-block;
}

.main-sidebar:hover {
    width: 230px; 
    transition: all linear 0s;
}

.main-sidebar .nav-link p { display: none; font-size: 14px !important;}

.main-sidebar:hover .nav-link p { display: unset; transition: all linear 0s;}

.main-sidebar:hover .nav-item {
    justify-content: start;
    display: inline-block;
    transition: all linear 0s;
}

.main-sidebar .nav-item  { 
    display: flex;
    justify-content: center;
}

.menu_icon {
    position: absolute;
    left: 10%;
} */

.admin_profile_icon { display: none !important;}

.nav-link { cursor: pointer;}