.content-wrapper {
    min-height: 750px !important;
    height: unset;
}

aside.main-sidebar {
    background-color: #fff !important;
}

.nav-link.active {
    background-color: #FEF4E8 !important;
    color: #fff !important;
}

.loader-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
    opacity: 0.9;
    background: linear-gradient(to right, rgb(255, 255, 255, .9), rgb(255, 255, 255, .9));
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* body,
h5,
h6,
p,
h4,
h3,
label {
    font-family: 'Roboto', sans-serif !important;
} */

div#id_sidebar {
    transition: 0.5s ease all;
}

div#id_sidebar:hover {
    transition: 0.5s ease all;
}