.user-panel img {
    width: 1.5rem
}

.user-panel .image {
    padding-left: 0px;
}



.user .thumb {
    margin-right: 10px;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
}

.navbar {
    padding: 0rem 0rem
}

.navbar.card-header h4 {
    color: #004d87;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.04rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

.navbar-nav .nav-item i.fas.fa-bars {
    line-height: 1.6rem;
}

.nav-sidebar>.nav-item .nav-icon.fa,
.nav-sidebar>.nav-item .nav-icon.fab,
.nav-sidebar>.nav-item .nav-icon.fad,
.nav-sidebar>.nav-item .nav-icon.fal,
.nav-sidebar>.nav-item .nav-icon.far,
.nav-sidebar>.nav-item .nav-icon.fas,
.nav-sidebar>.nav-item .nav-icon.ion,
.nav-sidebar>.nav-item .nav-icon.svg-inline--fa {
    font-size: 0.8rem;
}

/* Table */
table {
    font-size: smaller;
}

thead {
    background-color: #F79E33 !important;
    color: white;
}

td {
    font-weight: 500;
    padding: .5rem !important;
}

th {
    font-weight: 100;
    padding: .5rem !important;
}

/* Table */


/* Search bar */
.search-bar {
    border: 1px solid #ddd;
    border-radius: 30px;
    width: 260px;
    padding: 5px 10px;
    justify-content: space-between;
}

.search-bar input.search-box {
    border: none;
    font-size: 13px;
    width: 100%;
    height: 32px !important;
    padding-left: 5px;
}

.search-bar .btn-go {
    font-size: 12px;
    padding: 7px;
    height: 30px;
    border-radius: 30px;
    background-color: #527195;
    color: #fff;
    border: 1px solid #527195;
}

.search-box .fas.fa-search {
    position: absolute;
    right: 20px;
    top: 10px;
}

.search-bar input.search-box {
    border: none;
    font-size: 13px;
    width: 100%;
    height: 32px !important;
    padding-left: 5px;
}

/* Search bar */


/* Default Button */
.bg-gradient-button {
    /* background: #F2EDD7FF linear-gradient(180deg, #F2EDD7FF, #e5e1cc) repeat-x !important; */
    color: #fff !important;
    background-color: #F7941D;
}

.bg-gradient-button.btn:not(:disabled):not(.disabled):active,
.bg-gradient-button.btn:not(:disabled):not(.disabled).active,
.show>.bg-gradient-button.btn.dropdown-toggle {
    background-image: none !important;
}

.bg-gradient-button.btn:hover {
    border: 1px solid #F7941D;
    color: #F7941D !important;
    background-color: #fff;
}

.bg-gradient-button.btn:not(:disabled):not(.disabled):active,
.bg-gradient-button.btn:not(:disabled):not(.disabled).active,
.bg-gradient-button.btn:active,
.bg-gradient-button.btn.active {
    background: #F2EDD7FF linear-gradient(180deg, #e5e1cc, #e5e1cc) repeat-x !important;
    border-color: #F2EDD7FF;
    color: #755139FF !important;
}

.bg-gradient-button.btn:disabled,
.bg-gradient-button.btn.disabled {
    background-image: none !important;
    border-color: #F2EDD7FF;
    /* color: #755139FF !important; */
}

/* Default Button */

.text-right .btn-custom {
    color: #fff !important;
}

.text-right .btn-custom:hover {
    background-color: #fff !important;
    color: #F7941D !important;
}

#btnClick {
    background-color: #F7941D !important;
    color: #fff !important;
}


/* Submit Button */
.bg-gradient-submit {
    color: #fff !important;
    background-color: #F7941D;
}

.bg-gradient-submit.btn:not(:disabled):not(.disabled):active,
.bg-gradient-submit.btn:not(:disabled):not(.disabled).active,
.show>.bg-gradient-submit.btn.dropdown-toggle {
    background-image: none !important;
}

.bg-gradient-submit.btn:hover {
    border: 1px solid #F7941D;
    color: #F7941D !important;
    background-color: #fff;
}

.bg-gradient-submit.btn:disabled,
.bg-gradient-submit.btn.disabled {
    background-image: none !important;
    border-color: #ffffff;
    color: #fff;
}

/* Submit Button */

/* Reject Button */
.bg-gradient-reject {
    background: #F1F4FFFF linear-gradient(180deg, #F1F4FFFF, #ffc8be) repeat-x !important;
    border-color: #F1F4FFFF;
    color: #990011FF;
}

.bg-gradient-reject.btn:not(:disabled):not(.disabled):active,
.bg-gradient-reject.btn:not(:disabled):not(.disabled).active,
.show>.bg-gradient-reject.btn.dropdown-toggle {
    background-image: none !important;
}

/* .bg-gradient-reject.btn:hover {
    background: #F1F4FFFF linear-gradient(180deg, #ffc8be, #F1F4FFFF) repeat-x !important;
    border-color: #F1F4FFFF;
    color: #990011FF;
} */

/* .bg-gradient-reject.btn:not(:disabled):not(.disabled):active,
.bg-gradient-reject.btn:not(:disabled):not(.disabled).active,
.bg-gradient-reject.btn:active,
.bg-gradient-reject.btn.active {
    background: #F1F4FFFF linear-gradient(180deg, #ffc8be, #F1F4FFFF) repeat-x !important;
    border-color: #F1F4FFFF;
    color: #990011FF;
}

.bg-gradient-reject.btn:disabled,
.bg-gradient-reject.btn.disabled {
    background-image: none !important;
    border-color: #F1F4FFFF;
    color: #990011FF;
} */

/* Reject Button */


/* Cancel Button */
.bg-gradient-cancel {
    background: #Fff !important;
    border-color: #F7941D;
    color: #F7941D;
}

.bg-gradient-cancel.btn:not(:disabled):not(.disabled):active,
.bg-gradient-cancel.btn:not(:disabled):not(.disabled).active,
.show>.bg-gradient-cancel.btn.dropdown-toggle {
    background-image: none !important;
}

.bg-gradient-cancel.btn:hover {
    background: #F7941D !important;
    /* border-color: #F1F4FFFF; */
    color: #fff !important;
}

/* .bg-gradient-cancel.btn:not(:disabled):not(.disabled):active,
.bg-gradient-cancel.btn:not(:disabled):not(.disabled).active,
.bg-gradient-cancel.btn:active,
.bg-gradient-cancel.btn.active {
    background: #F1F4FFFF linear-gradient(180deg, #ccd7fd, #edeff7) repeat-x !important;
    border-color: #F1F4FFFF;
    color: #496e97;
} */

.bg-gradient-cancel.btn:disabled,
.bg-gradient-cancel.btn.disabled {
    background-image: none !important;
    background-color: #F1F4FFFF !important;
    border-color: #F1F4FFFF;
    /* color: #496e97; */
}

/* Cancel Button */

.badge-warning {
    color: #fff !important;
    background-color: #F7941D !important;
    border-radius: 50% !important;
}

/* v_index */
.brand-link {
    padding: 0.5rem 0.5rem;
}

.nav-link.active {
    /* font-weight: 600; */
    background-color: #FEF4E8 !important;
    color: #F7941D !important;
    box-shadow: none !important;
}

aside.main-sidebar {
    background-color: #fff !important;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.loader-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
    opacity: 0.9;
    background: linear-gradient(to right, rgb(255, 255, 255, .9), rgb(255, 255, 255, .9));
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: 0.5s ease-in-out;
}

/* v_index */

/* warn Button */
.bg-gradient-warn {
    background: #fff !important;
    border-color: #F7941D !important;
    color: #F7941D !important;
}

.bg-gradient-warn.btn:not(:disabled):not(.disabled):active,
.bg-gradient-warn.btn:not(:disabled):not(.disabled).active,
.show>.bg-gradient-warn.btn.dropdown-toggle {
    background-image: none !important;
}

.bg-gradient-warn.btn:hover {
    background: #F7941D !important;
    border-color: none !important;
    color: #fff !important;
}

.btn-success:hover { border: none !important;}

/* .bg-gradient-warn.btn:not(:disabled):not(.disabled):active,
.bg-gradient-warn.btn:not(:disabled):not(.disabled).active,
.bg-gradient-warn.btn:active,
.bg-gradient-warn.btn.active {
    background: #ff2700 linear-gradient(180deg, #ff836c, #ff2700) repeat-x !important;
    border-color: #ff2700;
    color: #fff;
} */

/* .bg-gradient-warn.btn:disabled,
.bg-gradient-warn.btn.disabled {
    background-image: none !important;
    border-color: #ff2700;
    color: #fff;
} */

/* Reject Button */

/* Nav bar styling start here */
.navbar-expand-md .navbar-collapse {
    justify-content: center;
}

.navbar-brand {
    padding-left: 0 !important;
}

.navbar-brand img {
    margin-left: 0 !important;
}

.collapse .nav-link {
    margin: 0 7px;
}

/* Nav bar styling end here */

/* table styling start here */
.table-bordered td,
.table-bordered th {
    border: none !important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: unset !important;
}

/* .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .03) !important;
} */
.table-striped tbody tr {
    border-bottom: 1px solid #fafafa !important;
}

.table-striped tbody tr:hover {
    background-color: #fafafa !important;
}

/* table styling end here */

.form-control {
    background-color: #F4F6F9 !important;
}

[class*=sidebar-dark-] .sidebar a {
    color: unset !important;
}

[class*=sidebar-dark] .brand-link {
    border-bottom: none !important;
}

.nav-sidebar>.nav-item {
    margin-bottom: 10px !important;
}

/* submit button styling start here */
#id_fksubmit {
    background: linear-gradient(90deg, #F7941D, #ED1C24) !important;
}
#id_fksubmit:hover{
    color: #fff !important;
}


.btn-sm {
    background-color: #F7941D !important;
    border: none !important;
}

.page-item.active .page-link {
    background-color: #F7941D !important;
    border: none !important;
}

.btn-sm:hover {
    background-color: #F79E33 !important;
}

#custom-tabs-one-tab .nav-link {
    color: #333 !important;
}

#custom-tabs-one-tab .nav-link.active {
    color: #F7941D !important;
}

.card-primary.card-outline {
    border-top: 3px solid #F7941D;
}

.text-info {
    color: #F7941D !important;
}

.search-box {
    background-color: #fff !important;
}

#actionfooter .bulkaction {
    background-color: #F7941D !important;
    border: none !important;
}

#actionfooter .bulkaction:hover {
    background-color: #F79E33 !important;
}


.table td, .table th { border: none !important;}
#Create-btn {
    padding: 0.375rem 0.5rem;
}

.schedule_button { color: #fff !important;}
.schedule_button:hover { background-color: #fff !important;}

.modal-footer .btn-secondary { 
    background-color: #fff !important; 
    border: 1px solid #F7941D !important;
    color: #F7941D !important;
}



.p-2 {
    /* background-color: #28a745 !important; */
    /* color: #fff !important; */
    padding: .5rem !important;
}

.reject{
    background-color: #ED1C24 !important;
    color: #fff !important;
    padding: .5rem !important;
}

.approve-reject {
    display: flex !important;
    align-items: flex-end !important;
    justify-content: flex-end !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #fff !important;
    color: #F7941D !important;
}

.addSubmit {
    background-color: #fff !important;
    border: 1px solid #F7941D !important;
    color: #F7941D !important;
}

.addSubmit:hover {
    background-color: #F7941D !important;
    color: #fff !important;
}

.addCancel {
    background-color: #fff !important;
    border: 1px solid #ED1C24 !important;
    color: #ED1C24 !important;
}

.addCancel:hover{
    background-color: #ED1C24 !important;
    color: #fff !important;
}