/* ----------------------------------------------------------------
    Custom CSS

    Add all your Custom Styled CSS here for New Styles or
    Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
body {

    font-family: 'Source Sans Pro', sans-serif;
}

.revo-slider-emphasis-text {
    font-size: 58px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    padding: 15px 20px;
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
}

.revo-slider-desc-text {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    width: 650px;
    text-align: center;
    line-height: 1.5;
}

.revo-slider-caps-text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
}

.tp-video-play-button {
    display: none !important;
}

.tp-caption {
    white-space: nowrap;
}

.pale {
    background-color: #1ABC9C;
    color: #000;
}

/* Purchase Order */
/* view */
.poHeaders .card-header h5,
.related .card-header h5 {
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 8px;
    color: #004d87;
    text-transform: uppercase;
    font-size: 16px;
}

.poHeaders .card-body,
.related .card-body {
    padding: 3px 8px !important;
}

.poHeaders th,
.poHeaders td {
    padding: 10px;
    cursor: pointer;
}

.poHeaders .table-responsive {
    border: 1px solid #ddd !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px !important;
}

.poHeaders table th {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}

.poHeaders table {
    margin-bottom: 0px !important;
}

.poHeaders .related #example1_filter .form-control {
    width: 100%;
    padding: 21px 10px;
    border-radius: 5px;
    margin-left: 0px;
    border: 2px solid #d6d4d4;
}

.poHeaders .related #example1_wrapper .row:first-child {
    display: flex !important;
    flex-direction: row-reverse !important;
}

#example1_filter input.form-control.form-control-sm {
    /* width: 100% !important; */
    padding: 20px 10px !important;
    border-radius: 30px !important;
    margin-left: -10px !important;
    border-color: #989090 !important;
}

#example1_filter label {
    width: 100% !important;
}

div#example1_wrapper .row:first-child,
.deliveryDetails .row:first-child {
    flex-direction: row-reverse !important;
}

table#example1 tr th {
    padding: 10px 0px !important;
    /* background-color: #f1f1f1 !important; */
}

table#example1 span.material-symbols-outlined.flu {
    font-size: 18px;
    cursor: pointer;
}

#example1,
#example2 {
    border: 1px solid #ddd;
}

div#scheduleModal .btn,div#modal-sm .btn {
    padding: 6px 20px;
    font-size: 12px !important;
}

table#example1 tr th,
table#example1 tr td {
    padding: 5px 10px !important;
    vertical-align: middle;
    cursor: pointer;
}

.vendor-list table#example1 tr th,
.vendor-list table#example1 tr td {
    white-space: nowrap;
}

#example1 a.schedule_item {
    background-color: #ffc107;
    padding: 5px;
    margin-bottom: 0px;
    font-size: 12px;
    color: #1f2d3d;
}

#example1 .view-btn {
    background-color: #138496;
    color: #fff;
    margin-bottom: 0px;
    padding: 3px;
}

#example2 a.notify_item {
    background-color: #444;
    color: #fff;
    padding: 3px 10px;
    margin-bottom: 0px !important;
    font-size: 12px;
}

#example2 a.schedule_update_button {
    font-size: 0.8rem;
}

.related #example1_wrapper ul.pagination li a {
    font-size: 12px !important;
}

/* intransit css */
.deliveryDetails .row:first-child {
    flex-direction: row-reverse !important;
}

.deliveryDetails .card-header h5,
.rfqs .card-header h5,
.vendorTemps .card-header h5 {
    padding-left: 8px;
    padding-top: 12px;
    padding-bottom: 8px;
    color: #004d87;
    text-transform: uppercase;
}

.deliveryDetails #example1_wrapper {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.deliveryDetails #example1_wrapper a,
.vendor-list #example1_wrapper a {
    font-size: 12px !important;
}

.deliveryDetails .dataTables_info {
    font-size: 12px;
}

/* end */
/* Setting */
.setting-fm {
    padding: 30px;
}

.settings .search {
    border-radius: 30px;
}

.setting-fm h5 {
    color: #004d87;
    text-transform: uppercase;
    font-weight: 600;
}

.setting-fm label {
    color: #444;
}

.setting-fm .btn {
    /* background-color: #218838; */
    padding: 7px 40px;
    margin-top: 15px;
}

.PR .btn-success {
    background-color: #28a745;
    color: #fff;
}

.PR .btn-info {
    background-color: #138496;
    color: #fff;
}

.card-body.rfq-editor label,
.gate-entry-haed {
    color: #004d87 !important;
}

.gate-entry { margin-left: 0px;}
.btn:hover { box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
.modal-footer .btn { font-size: 13px;}

.rfqs .card-body { padding-top: 10px !important;}

.rfq-details-head {
    padding-left: 15px;
}

.rfq-details-head h6 {
    padding-bottom: 2px;
    font-weight: 500;

}

.rfqs h5 {
    padding-left: 15px;
    padding-top: 12px;
    padding-bottom: 5px;
    color: #dc3545;
    text-transform: uppercase;
    /* font-size: 24px; */
}

.commu-review h5 {
    color: #004d87;

}

.commu-review {
    padding: 15px 25px;
}

.commu-review .card-body h6 p {
    font-size: 16px !important;
}

.vendorTemps .card-body {
    padding: 10px 15px;
}

.vendorTemps .table.vendor-info td,
.vendorTemps .vendor-info th {
    padding: 12px 15px;
    font-size: 14px;
    /* cursor: pointer; */
}

.vendorTemps .table.vendor-info span.badge.bg-info {
    background-color: unset !important;
    color: #004d87 !important;
    font-size: 14px;
    padding: 0px;
}

.vendorTemps .table.vendor-info .badge.bg-success {
    background-color: unset !important;
    color: #4CAF50 !important;
    font-size: 14px;
    padding: 7px 12px;
}

.vendorTemps h5 {
    padding: 0px 0px 0px 9px !important;
    margin-bottom: 0px;
    font-size: 17px;
}

.card-body.vendor-list {
    padding: 15px;
}

.add-vendor .card-body {
    padding: 15px !important;
}

.sap-vendor .card-body {
    padding: 15px;
}

.sap-vendor label {
    color: #004d87 !important;
    font-size: 16px;
    text-transform: uppercase;
}

.add-vendor .btn.btn-info {
    background-color: #218838;
    padding: 7px 40px;
}

.gate-entry .card-header h3 {
    color: #004d87;
    text-transform: uppercase;
    font-size: 1.25rem;
}

.gate-entry .deliveryDetails .row:first-child {
    flex-direction: unset !important;
}

.ge-head h6 {
    color: yellowgreen;
    font-size: 16px;
    font-weight: 600;
    padding-top: 12px;
    padding-left: 5px;
    padding-bottom: 10px;
}

.gateentry-asn label {
    color: #444;
    font-size: 16px !important;
}

.veiw-invoice {
    /* font-size: 16px;
    text-transform: capitalize; */
    /* margin-top: 37px !important; */
    display: block;
    margin-top: 0 !important;
    display: block;
    width: 113px;
    /* font-weight: 600;
    display: block;
    margin-left: 10px; */
}

#notifyModal .modal-title {
    color: #004d87;
    font-weight: 600;
    text-transform: uppercase;
}

div#past_messages {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f1f1f1;
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 190px;
}

div#past_messages .past-msg {
    border-bottom: 2px solid #ddd;
}

div#past_messages .past-msg:last-child {
    border-bottom: none;
}

/* .vendor-list #example1_filter input.form-control.form-control-sm{
    margin-left: 0px !important;
} */
.gate-entry .content-box {
    text-align: center;
    margin: 0 auto;
    padding: 0px 25%;
    /* background-color: f5f7fd; */
}

.gate-entry input#asn-no {
    font-size: 13px;
}

.gate-entry .content-box img.scanner-img {
    width: 180px;
    margin-bottom: 30px;
    margin-top: 15px;
}

.gate-entry .content-box span {
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
}

.content-box {
    padding-top: 100px !important;
}

.gate-entry .s-box .form-control {
    border-radius: 30px !important;
    padding: 20px !important;
    height: 50px;
    font-size: 14px !important;
}

.s-box {
    position: relative;
}

.s-box .btn.btn-custom {
    position: absolute;
    top: -10px;
    right: 6px;
    border-radius: 30px;
    background-color: #F7941D !important;
    color: #fff !important;
}

/* .gate-entry .content-box input[type="text"]::placeholder {
    text-align: center;
} */
.gateentry-asn label {
    color: #999;
    margin-left: 0px;
    text-transform: capitalize;
    margin-top: 0px;
    font-size: 12px !important;
    margin-bottom: 4px;
}

.card-body.gateentry-asn {
    padding: 10px;
    border: 1px solid #ddd;
}

table.table.table-bordered.delivery-dt-tbl td,
table.table.table-bordered.delivery-dt-tbl th {
    font-size: 14px;
}

.card-body.invoice-details .dgf {
    width: 100% !important;
    background-color: #f5f7fd !important;
    border-radius: 0px !important;
    padding: 10px !important;
    padding-bottom: 20px !important;
}

a.back-btn {
    padding: 10px 25px;
    margin-left: 25px;
    line-height: 22px;
    color: #112A68 !important;
    border: 1px solid #112A68;
    font-size: 14px;
    border-radius: 5px;
}

.calcu {

    margin: 0 0 0 auto;
    /* background-color: #f1f1f1; */
    padding: 15px;
}

.calcu table {
    width: 20%;
    margin: 0 15px 0 auto;
    font-size: 15px;
}

.invoice-details label {
    color: #818589 !important;
    margin-left: 0px;
    font-size: 12px;
}

.invoice-details p {
    color: #000 !important;
    font-weight: 600;
    font-size: 16px;
}

.invoice-details .form-control {
    height: 32px !important;
    width: 150px;
}

.material-list th {
    padding: 10px 13px !important;
    /* background-color: #f1f1f1; */
}

.settings .card-header h5 {
    color: #004d87 !important;
}

.settings table.users-tbl td,
.settings table.users-tbl th {
    font-size: 14px;
    padding: 8px 13px;
    vertical-align: middle;
}

.create-asn .dataTables_info {
    display: none;
}

.create-asn #example1_filter input.form-control.form-control-sm {
    width: unset !important;
    padding: 20px 10px !important;
    border-radius: 5px !important;
    margin-left: 0px !important;
    border-color: #989090 !important;
}

.t2 input#select1 {
    margin-left: 4px;
}

.material-list#example2 tbody tr td {
    padding: 10px !important;
}

.material-list#example2 .check_qty {
    width: 90px;
}

.action-btn a {
    background-color: #112A68 !important;
    font-size: 14px;
    padding: 10px 14px;
}

td.ponum {
    font-size: 17px !important;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.t1 h5 {
    font-size: 18px;
    margin-left: 5px;
}

.btn-custom {
    background-color: #F7941D !important;
    color: #fff !important;
    font-size: 14px;
    line-height: 1.1rem;
    padding: 10px 20px;
}

.modal-footer .btn-custom-2 {
    background-color: #F7941D !important;
    color: #fff !important;
    font-size: 14px;
    line-height: 1.1rem;
    padding: 10px 20px;
}

.modal-footer .btn-custom-2:hover {
    background-color: #fff !important;
    color: #F7941D !important;
}

a.back-btn:hover {
    background-color: #112A68 !important;
    color: #fff !important;
}

.btn-custom:hover {
    color: #fff !important;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.text-info {
    color: #F7941D !important;
}

.message.danger.bg-danger {
    background-color: transparent !important;
    color: #dc3545 !important;
    text-align: center;
    padding: 12px;
    font-weight: 600;
}

.rfq-details-head lable {
    font-size: 14px;
}

.rfq-details-head {
    padding: 15px;
    background-color: #f5f7fd;
    padding-bottom: 0px
}

.rfq-details-head b {
    color: #000;
    font-size: 15px;
}

input.form-control.search {
    width: 230px;
}

.check_qty {
    width: 140px;
}

.buyer-dash .card-header {
    background-color: #fff !important;
    margin: 0 !important;
    padding: 7px 10px;
}

.buyer-dash .card-title {
    margin-bottom: 0px !important;
    font-size: 0.9rem;
    letter-spacing: 0.3px;

}

.buyer-dash .products-list .product-info {
    margin-left: 20px;
    justify-content: space-between;
    display: flex;
}

.buyer-dash .products-list>.item {
    padding: 5px 10px;
    border-bottom: 0px;
    /* background-color: #f5f7fd; */
}

.buyer-dash .mt-4,
.buyer-dash .my-4 {
    margin-top: 0.5rem !important
}

.buyer-dash .card-body {
    padding: 0.25rem;
}

.buyer-dash .products-list .product-title {
    font-weight: 500;
    font-size: 14px;
    margin-top: 5px;
    color: #7F7F7F;
    margin-left: 10px;
}
.text-danger {
    color: #ED1C24!important;
}

.buyer-dash .products-list .product-img {
    margin-top: 5px;
}

.buyer-dash span.p-value {
    background-color: #F4F6F9;
    padding: 8px;
    line-height: 12px;
    font-weight: 700;
    font-size: 14px !important;
}

.buyer-dash .product-img i {
    font-size: 16px;
}

.add-vendor .card-body .row {
    background-color: #fff;
    border-radius: 0px;
    padding: 20px;
    margin: 0 auto;
}

.add-vendor form {
    margin-bottom: 0px !important;
}

.first-row .card {
    height: auto;
    min-height: 190px;
    max-height: 200px;
}

.poHeaders .card-body {
    padding: 10px;
}

.search-bar {
    border: 1px solid #ddd;
    border-radius: 30px;
    width: 260px;
    padding: 5px 10px;
    justify-content: space-between;
}

.search-bar input.search-box {
    border: none;
    font-size: 13px;
    width: 100%;
    height: 32px !important;
    padding-left: 5px;
}

.search-bar .btn-go {
    font-size: 12px;
    padding: 7px;
    height: 30px;
    border-radius: 30px;
    background-color: #527195;
    color: #fff;
    border: 1px solid #527195;
}

.c-msg p {
    margin-bottom: 0px;
}

.create-asn .d-flex::-webkit-scrollbar,
div#past_messages::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

.create-asn .d-flex::-webkit-scrollbar-thumb,
div#past_messages::-webkit-scrollbar-thumb {
    background: #BEBEFF;
    border-radius: 20px;
}

.create-asn .d-flex::-webkit-scrollbar-track,
div#past_messages::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}

.create-asn td.details-control.ponum {
    padding: 20px;
}

.create-asn .po-box {
    border-right: 1px solid #ccc;
    padding: 10px 20px;
    width: 135px;
    cursor: pointer;
    color: #999;
}

.create-asn .po-box:hover {
    background-color: #ddd;
}

.create-asn .active {
    background-color: #d4ddf7;
}

.create-asn .polist .d-flex {
    overflow-y: hidden;
    overflow-x: auto;
}

.create-asn .polist {
    border: 1px solid #ddd;
    background-color: #f5f7fd;
}

.purchase-order .d-flex::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

.purchase-order .d-flex::-webkit-scrollbar-thumb {
    background: #BEBEFF;
    border-radius: 20px;
}

.purchase-order .d-flex::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}

.purchase-order .po-list {
    border: 1px solid #ddd;
    background-color: #fafafa;


}

.commu-review .card-body {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #f1f1f1;
    padding: 15px !important;
}

.purchase-order .po-box {
    border-right: 1px solid #ccc;
    padding: 5px 20px;
    width: 170px;
    cursor: pointer;
    color: #444;
}

.purchase-order .po-code {
    font-size: 0.8rem;
}

.purchase-order .po-list .d-flex {
    overflow-y: hidden;
    overflow-x: auto;
}

.purchase-order .po-box:hover {
    background-color: #f4f6f9;
}

#poItemss .active { background-color: #fff !important;}

.purchase-order .pono b {
    color: #F7941D !important;
}

.purchase-order .po-box .pono {
    padding-bottom: 5px;
}

/* .purchase-order #example2 thead {
    background-color: #b0c235 !important
} */

.purchase-order #example2 tbody {
    background-color: #fff !important;
}

.purchase-order .pono small {
    font-size: 11px;
}

.active {
    background-color: #d4ddf7;
}

.bg_color_blu {
    background-color: #08132F !important;
}

.bg_color_grn {
    background-color: #8E9B2C !important;
}

.action-btn .btn-success {
    background-color: #fff !important;
}

.btn-custom-2:hover {
    color: #fff;
}

p.po-no {
    color: #444;
    font-weight: 600;
}

.create-asn .card-header h5 {
    font-size: 17px;
    margin-bottom: 5px;
}

.lgreenbadge {
    padding: 6px 8px !important;
    font-size: 0.6rem !important;
    border-radius: 3px !important;
    background-color: lavender;
    color: green;
}

.dbluebadge {
    padding: 6px 8px !important;
    font-size: 0.6rem !important;
    border-radius: 3px !important;
    background-color: lavender;
    color: #004a9f;

}

.redbadge {
    padding: 6px 8px !important;
    font-size: 0.6rem !important;
    border-radius: 3px !important;
    background-color: lavender;
    color: red;
}

.btn:hover{ color: #F7941D!important;}
/* .btn { color: #F7941D!important;} */
#OpenImgUpload { color: #fff !important;}
#OpenImgUpload:hover {
    color: #F7941D !important;
}

.page-item.active .page-link{
    border-color: #F7941D;
    background-color: #F7941D;
}

#id_addvendor { color: #fff !important;}
#id_addvendor:hover { color: #F7941D !important;}

#actionfooter a {
    border: none !important;
    background-color: #F7941D !important;
}

span.otp-send-email { color: #121212 !important;}

.h legend { color: #F7941D !important;}
#needButton { border: 1px solid #F7941D !important;}
#needButton:hover {
    background-color: #F7941D !important;
    color: #fff !important;
}
#unread27 { background-color: #F7941D !important;}

#custom-tabs-four-tab .nav-link { color: #999 !important;}

.card-primary.card-outline-tabs>.card-header a.active {
    border-top: 3px solid #F7941D !important;
    color: #F7941D !important;
}

.filter-option-inner-inner { color: #999 !important;}




