.user-panel img {
    width: 1.5rem
}

.user-panel .image {
    padding-left: 0px;
}



.user .thumb {
    margin-right: 10px;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
}

.navbar {
    padding: 0rem 0rem
}

.navbar.card-header h4 {
    color: #F7941D;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.04rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

.navbar-nav .nav-item i.fas.fa-bars {
    line-height: 1.6rem;
}

.nav-sidebar>.nav-item .nav-icon.fa,
.nav-sidebar>.nav-item .nav-icon.fab,
.nav-sidebar>.nav-item .nav-icon.fad,
.nav-sidebar>.nav-item .nav-icon.fal,
.nav-sidebar>.nav-item .nav-icon.far,
.nav-sidebar>.nav-item .nav-icon.fas,
.nav-sidebar>.nav-item .nav-icon.ion,
.nav-sidebar>.nav-item .nav-icon.svg-inline--fa {
    font-size: 0.8rem;
}

/* Table */
table {
    font-size: smaller;
}

thead {
    background-color: #F79E33 !important;
    color: #121212 !important;
}

td {
    font-weight: 500;
    padding: .5rem !important;
}

th {
    /* font-weight: 500; */
    padding: .5rem !important;
    letter-spacing: .7px;
    word-spacing: .5px;
}

/* Table */


/* Search bar */
.search-bar {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 260px;
    padding: 5px 10px;
    justify-content: space-between;
}

.search-bar input.search-box {
    border: none;
    font-size: 13px;
    width: 100%;
    height: 32px !important;
    padding-left: 5px;
}

.search-bar .btn-go {
    font-size: 12px;
    padding: 7px;
    height: 30px;
    border-radius: 30px;
    background-color: #527195;
    color: #fff;
    border: 1px solid #527195;
}

.search-box .fas.fa-search {
    position: absolute;
    right: 20px;
    top: 10px;
}

.search-bar input.search-box {
    border: none;
    font-size: 13px;
    width: 100%;
    height: 32px !important;
    padding-left: 5px;
}

/* Search bar */


/* Default Button */
.bg-gradient-button {
    /* background: #F2EDD7FF linear-gradient(180deg, #F2EDD7FF, #e5e1cc) repeat-x !important; */
    color: #121212 !important;
    background-color: #F7941D;
}

.bg-gradient-button.btn:not(:disabled):not(.disabled):active,
.bg-gradient-button.btn:not(:disabled):not(.disabled).active,
.show>.bg-gradient-button.btn.dropdown-toggle {
    background-image: none !important;
}

.bg-gradient-button.btn:hover {
    transition: all ease .3s;
    border: 1px solid #F7941D;
    color: #F7941D !important;
    background-color: #fff;
}

/* .bg-gradient-button.btn:not(:disabled):not(.disabled):active,
.bg-gradient-button.btn:not(:disabled):not(.disabled).active,
.bg-gradient-button.btn:active,
.bg-gradient-button.btn.active {
    background: #F2EDD7FF linear-gradient(180deg, #e5e1cc, #e5e1cc) repeat-x !important;
    border-color: #F2EDD7FF;
    color: #755139FF !important;
} */

.bg-gradient-button.btn:disabled,
.bg-gradient-button.btn.disabled {
    background-image: none !important;
    border-color: #eee;
    /* color: #755139FF !important; */
}

/* #id_import { color: #F7941D !important; border: 1px solid #F7941D !important; background-color: #fff !important;} */
#id_import:hover { color: #121212 !important; border-color: #121212 !important; transition: all ease .5s    ;}

/* Default Button */

.text-right .btn-custom {
    color: #fff !important;
}

.text-right .btn-custom:hover {
    background-color: #fff !important;
    color: #F7941D !important;
}

#btnClick {
    background-color: #F7941D !important;
    color: #fff !important;
}


/* Submit Button */
.bg-gradient-submit {
    color: #000 !important;
    background-color: #F7941D;
}

.bg-gradient-submit.btn:not(:disabled):not(.disabled):active,
.bg-gradient-submit.btn:not(:disabled):not(.disabled).active,
.show>.bg-gradient-submit.btn.dropdown-toggle {
    background-image: none !important;
}

.bg-gradient-submit.btn:hover {
    border: 1px solid #F7941D;
    color: #F7941D !important;
    background-color: #fff;
}

.bg-gradient-submit.btn:disabled,
.bg-gradient-submit.btn.disabled {
    background-image: none !important;
    border-color: #ffffff;
    color: #fff;
}

/* Submit Button */

/* Reject Button */
/* .bg-gradient-reject {
    background: #F1F4FFFF linear-gradient(180deg, #F1F4FFFF, #ffc8be) repeat-x !important;
    border-color: #F1F4FFFF;
    color: #990011FF;
} */

.bg-gradient-reject.btn:not(:disabled):not(.disabled):active,
.bg-gradient-reject.btn:not(:disabled):not(.disabled).active,
.show>.bg-gradient-reject.btn.dropdown-toggle {
    background-image: none !important;
}

/* .bg-gradient-reject.btn:hover {
    background: #F1F4FFFF linear-gradient(180deg, #ffc8be, #F1F4FFFF) repeat-x !important;
    border-color: #F1F4FFFF;
    color: #990011FF;
} */

/* .bg-gradient-reject.btn:not(:disabled):not(.disabled):active,
.bg-gradient-reject.btn:not(:disabled):not(.disabled).active,
.bg-gradient-reject.btn:active,
.bg-gradient-reject.btn.active {
    background: #F1F4FFFF linear-gradient(180deg, #ffc8be, #F1F4FFFF) repeat-x !important;
    border-color: #F1F4FFFF;
    color: #990011FF;
}

.bg-gradient-reject.btn:disabled,
.bg-gradient-reject.btn.disabled {
    background-image: none !important;
    border-color: #F1F4FFFF;
    color: #990011FF;
} */

/* Reject Button */


/* Cancel Button */
.bg-gradient-cancel {
    background: #Fff !important;
    border-color: #F7941D;
    color: #F7941D;
}

.bg-gradient-cancel.btn:not(:disabled):not(.disabled):active,
.bg-gradient-cancel.btn:not(:disabled):not(.disabled).active,
.show>.bg-gradient-cancel.btn.dropdown-toggle {
    background-image: none !important;
}

.bg-gradient-cancel.btn:hover {
    background-color: #F7941D !important;
    /* border-color: #F1F4FFFF; */
    color: #000000 !important;
}

/* .bg-gradient-cancel.btn:not(:disabled):not(.disabled):active,
.bg-gradient-cancel.btn:not(:disabled):not(.disabled).active,
.bg-gradient-cancel.btn:active,
.bg-gradient-cancel.btn.active {
    background: #F1F4FFFF linear-gradient(180deg, #ccd7fd, #edeff7) repeat-x !important;
    border-color: #F1F4FFFF;
    color: #496e97;
} */

.bg-gradient-cancel.btn:disabled,
.bg-gradient-cancel.btn.disabled {
    background-image: none !important;
    background-color: #fff !important;
    border-color: #121212;
    color: #121212 !important;
}

/* Cancel Button */

.badge-warning {
    color: #fff !important;
    background-color: #F7941D !important;
    border-radius: 50% !important;
}

/* v_index */
.brand-link {
    padding: 0.5rem 0.5rem;
}

.nav-link.active {
    /* font-weight: 600; */
    background-color: #FEF4E8 !important;
    color: #F7941D !important;
    box-shadow: none !important;
    border-radius: 4px;
}

.nav-link.active:hover {
    color: #000 !important;
}

aside.main-sidebar {
    background-color: #fff !important;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.loader-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
    opacity: 0.9;
    background: linear-gradient(to right, rgb(255, 255, 255, .9), rgb(255, 255, 255, .9));
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: 0.5s ease-in-out;
}

/* v_index */

/* warn Button */
.bg-gradient-warn {
    background: #fff !important;
    border-color: #F7941D !important;
    color: #F7941D !important;
}

.bg-gradient-warn.btn:not(:disabled):not(.disabled):active,
.bg-gradient-warn.btn:not(:disabled):not(.disabled).active,
.show>.bg-gradient-warn.btn.dropdown-toggle {
    background-image: none !important;
}

.bg-gradient-warn.btn:hover {
    background: #F7941D !important;
    border-color: none !important;
    color: #fff !important;
}

.btn-success:hover { border: none !important;}

/* .bg-gradient-warn.btn:not(:disabled):not(.disabled):active,
.bg-gradient-warn.btn:not(:disabled):not(.disabled).active,
.bg-gradient-warn.btn:active,
.bg-gradient-warn.btn.active {
    background: #ff2700 linear-gradient(180deg, #ff836c, #ff2700) repeat-x !important;
    border-color: #ff2700;
    color: #fff;
} */

/* .bg-gradient-warn.btn:disabled,
.bg-gradient-warn.btn.disabled {
    background-image: none !important;
    border-color: #ff2700;
    color: #fff;
} */

/* Reject Button */

/* Nav bar styling start here */
.navbar-expand-md .navbar-collapse {
    justify-content: center;
}

.navbar-brand {
    padding-left: 0 !important;
}

.navbar-brand img {
    margin-left: 0 !important;
}

.collapse .nav-link {
    margin: 0 5px;
}

/* Nav bar styling end here */

/* table styling start here */
.table-bordered td,
.table-bordered th {
    border: none !important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: unset !important;
}

/* .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .03) !important;
} */
.table-striped tbody tr {
    border-bottom: 1px solid #fafafa !important;
}

.table-striped tbody tr:hover {
    background-color: #fafafa !important;
}

/* table styling end here */

.form-control {
    border: 1px solid #ddd;
    background-color: #fff !important;
}

[class*=sidebar-dark-] .sidebar a {
    color: unset !important;
}

[class*=sidebar-dark] .brand-link {
    border-bottom: none !important;
}

.nav-sidebar>.nav-item {
    margin-bottom: 10px !important;
}

.form-control:disabled { background-color: #f4f4f4 !important;}

/* submit button styling start here */
#id_fksubmit {
    background: linear-gradient(90deg, #F7941D, #ED1C24) !important;
}
#id_fksubmit:hover{
    color: #fff !important;
}


.btn-sm {
    background-color: #F7941D !important;
    border: none !important;
}

.page-item.active .page-link {
    background-color: #F7941D !important;
    border: none !important;
    color: #000 !important;
}

.btn-sm:hover {
    background-color: #F79E33 !important;
}

#custom-tabs-one-tab .nav-link {
    color: #333 !important;
}

#custom-tabs-one-tab .nav-link.active {
    color: #F7941D !important;
    border-left: 4px solid #F7941D !important;
    background-color: unset !important;
}

#vendor-custom-tabs-one-tab .nav-link.active {
    /* border-top: 2px solid #F7941D !important; */
    border: none !important;
}

.table-bordered {
    border: none !important;
}
.card-primary.card-outline {
    border-top: 3px solid #F7941D;
}

.text-info {
    color: #F7941D !important;
}

.search-box {
    background-color: #fff !important;
}

#actionfooter .bulkaction {
    background-color: #F7941D !important;
    border: none !important;
    color: #000 !important;
}

#actionfooter .bulkaction:hover {
    transition: all cubic-bezier(0.39, 0.58, 0.57, 1) .5s;
    background-color: #ED1C24 !important;
}


.table th { border: none !important; font-weight: 600 !important; color: #121212;}
#Create-btn {
    padding: 0.375rem 0.5rem;
}

.schedule_button { color: #fff !important;}
.schedule_button:hover { background-color: #fff !important;}

.modal-footer .btn-secondary { 
    background-color: #fff !important; 
    border: 1px solid #F7941D !important;
    color: #F7941D !important;
}

.card-header { font-weight: 600;}


.p-2 {
    /* background-color: #28a745 !important; */
    /* color: #fff !important; */
    padding: .5rem !important;
}

.reject{
    background-color: #ED1C24 !important;
    color: #fff !important;
    padding: .5rem !important;
}

.approve-reject {
    display: flex !important;
    align-items: flex-end !important;
    justify-content: flex-end !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #fff !important;
    color: #F7941D !important;
}

.addSubmit {
    background-color: #fff !important;
    border: 1px solid #F7941D !important;
    color: #F7941D !important;
}

.addSubmit:hover {
    background-color: #F7941D !important;
    color: #fff !important;
}

.addCancel {
    background-color: #fff !important;
    border: 1px solid #ED1C24 !important;
    color: #ED1C24 !important;
}

.addCancel:hover{
    background-color: #ED1C24 !important;
    color: #fff !important;
}

.upload_invoice, .upload_ewaybill, .other_document {
    width: 100% !important;
    color: #121212 !important;
    background-color: #fff !important;
    border: 1px solid #cecece !important;
}

.upload_invoice:hover, .upload_ewaybill:hover, .other_document:hover {
    transition: all ease .5s;
    color: #F7941D !important;
    border: 1px solid #F7941D !important;
}

.card_boxshadow { box-shadow: none !important;}

#add_comm {
    background-color: #F7941D !important;
    border: none !important;
}

.asn_status_icon { width: 40px !important; height: 30px !important;}

.card_box_shadow { box-shadow: none !important;}

.card_border { 
    box-shadow: none !important;
    border: 1px solid #eee !important;
}

.buyer_approve_btn, .buyer_reject_btn { font-size: .90rem;}

.buyer_approve_btn {
    background-color: #28a745 !important;
    color: #fff !important;
}

.buyer_reject_btn {
    background-color: red !important;
    color: #fff !important;
}

.card-tabs .card-header { border-bottom: 1px solid #eee !important;}

.buyer_approve_btn:hover {
    transition: all ease .5s;
    background-color: #fff !important;
    color: #28a745 !important;
    border: 1px solid #28a745;
}

.buyer_reject_btn:hover {
    transition: all ease .5s;
    background-color: #fff !important;
    color: red !important;
    border: 1px solid red;
}

#custom-tabs-one-tabContent .table td { border-top: none !important;}

#example1_wrapper .table td { border: none !important;}
#example1_wrapper .table tbody tr:hover { background-color: #fafafa !important;}

.buyer-status-icon {
    font-size: .75rem;
    color: #F7941D !important;
}

.template_format { 
    font-weight: 500;
    font-size: 17px;
    color: #F7941D !important;
    font-style: normal !important;
}

.template_format:hover {
    /* transition: all ease .5s; */
    color: #121212 !important;
}

#id_import { width: 100%;}

#id_pohead { background-color: #fff !important;}
.fa-file-download { color: #F7941D; font-size: 18px;}
.fa-file-download:hover { color: #121212;}

#OpenImgUpload {
    background-color: #fff !important;
    color: #121212 !important;
    border:  1px dashed #121212 !important;
}

#OpenImgUpload:hover {
    color: #F7941D !important;
    border-color: #F7941D !important;
}

.main-sidebar {
    height: 100%;
    width: 140px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: width 0.5s; 
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)!important;
    display: inline-block;
}

.main-sidebar:hover {
    width: 230px; 
    transition: all linear 0s;
}

.main-sidebar .nav-link p { display: none; font-size: 14px !important;}

.main-sidebar:hover .nav-link p { display: unset; transition: all linear 0s;}

.main-sidebar:hover .nav-item {
    justify-content: start;
    display: inline-block;
    transition: all linear 0s;
}

.main-sidebar .nav-item  { 
    display: flex;
    justify-content: center;
}

.menu_icon {
    position: absolute;
    left: 10%;
}

/* .dropdown_class {
    position: relative;
    display: inline-block;
}

.dropdown_class .dropdown_classlist {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown_class .dropdown_classlist a {
    display: block;
}

.dropdown_class:hover { height: 200px !important; transition: all ease-in-out 1s;}

.dropdown_class:hover .dropdown_classlist {
    display: block;
    transition: all ease-in-out 1s;
} */

/* .template_download {
    padding: 0.65rem 1rem;
    border: 1px solid #F7941D;
    border-radius: 5px;
} */

#example1_filter input[type="search"] {
    height: 42px !important;
    width: 250px !important;
}

div.dataTables_wrapper div.dataTables_filter input { margin-left: 0 !important;}

#material_list th:nth-child(7) { width: 120px !important;}

.cancel_btn { color: #fff !important;}

.sap_vendorcode {
    font-size: 16px;
    color: #121212;
}

#example1_wrapper .row:first-child { width: 0 !important;}

.text_light { color: #F7941D !important; font-weight: 500 !important;}

.asn_files {
    text-transform: uppercase !important;
    color: #F7941D !important;
    font-weight: normal !important;
    margin-right: 20px !important;
    text-decoration: underline 1px solid #F7941D !important;
    border-right: 1px solid #121212 !important;
    padding-right: 15px !important;
}
.asn_files:last-child { border-right: none !important;}

.asn_files:hover { color: #000 !important;}

.btn-sm, .cancel_btn { color: #121212 !important;}