.user-panel img {
    width: 1.5rem
}

.user-panel .image {
    padding-left: 0px;
}



.user .thumb {
    margin-right: 10px;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
}

.navbar {
    padding: 0rem 0rem
}

.navbar.card-header h4 {
    color: #F7941D;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.04rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

.navbar-nav .nav-item i.fas.fa-bars {
    line-height: 1.6rem;
}

.nav-sidebar>.nav-item .nav-icon.fa,
.nav-sidebar>.nav-item .nav-icon.fab,
.nav-sidebar>.nav-item .nav-icon.fad,
.nav-sidebar>.nav-item .nav-icon.fal,
.nav-sidebar>.nav-item .nav-icon.far,
.nav-sidebar>.nav-item .nav-icon.fas,
.nav-sidebar>.nav-item .nav-icon.ion,
.nav-sidebar>.nav-item .nav-icon.svg-inline--fa {
    font-size: 0.8rem;
}

/* Table */
table {
    font-size: smaller;
}

thead {
    background-color: #F79E33 !important;
    color: #121212 !important;
}

td {
    font-weight: 500;
    padding: .5rem !important;
}

th {
    /* font-weight: 500; */
    padding: .5rem !important;
    letter-spacing: .7px;
    word-spacing: .5px;
}

/* Table */


/* Search bar */
.search-bar {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 260px;
    padding: 5px 10px;
    justify-content: space-between;
}

.search-bar input.search-box {
    border: none;
    font-size: 13px;
    width: 100%;
    height: 32px !important;
    padding-left: 5px;
}

.search-bar .btn-go {
    font-size: 12px;
    padding: 7px;
    height: 30px;
    border-radius: 30px;
    background-color: #527195;
    color: #fff;
    border: 1px solid #527195;
}

.search-box .fas.fa-search {
    position: absolute;
    right: 20px;
    top: 10px;
}

.search-bar input.search-box {
    border: none;
    font-size: 13px;
    width: 100%;
    height: 32px !important;
    padding-left: 5px;
}

/* Search bar */


/* Default Button */
.bg-gradient-button {
    /* background: #F2EDD7FF linear-gradient(180deg, #F2EDD7FF, #e5e1cc) repeat-x !important; */
    color: #121212 !important;
    background-color: #F7941D;
}

.bg-gradient-button.btn:not(:disabled):not(.disabled):active,
.bg-gradient-button.btn:not(:disabled):not(.disabled).active,
.show>.bg-gradient-button.btn.dropdown-toggle {
    background-image: none !important;
}

.intransit_icon { color: #F7941D !important;}


/* .bg-gradient-button.btn:not(:disabled):not(.disabled):active,
.bg-gradient-button.btn:not(:disabled):not(.disabled).active,
.bg-gradient-button.btn:active,
.bg-gradient-button.btn.active {
    background: #F2EDD7FF linear-gradient(180deg, #e5e1cc, #e5e1cc) repeat-x !important;
    border-color: #F2EDD7FF;
    color: #755139FF !important;
} */

.bg-gradient-button.btn:disabled,
.bg-gradient-button.btn.disabled {
    background-image: none !important;
    border-color: #eee;
    /* color: #755139FF !important; */
}

/* #id_import { color: #F7941D !important; border: 1px solid #F7941D !important; background-color: #fff !important;} */
#id_import:hover { color: #121212 !important; border-color: #121212 !important; transition: all ease .5s    ;}

/* Default Button */

.text-right .btn-custom {
    color: #fff !important;
}

.text-right .btn-custom:hover {
    background-color: #fff !important;
    color: #F7941D !important;
}

#btnClick {
    background-color: #F7941D !important;
    color: #fff !important;
}


/* Submit Button */
.bg-gradient-submit {
    color: #000 !important;
    background-color: #F7941D;
}

.bg-gradient-submit.btn:not(:disabled):not(.disabled):active,
.bg-gradient-submit.btn:not(:disabled):not(.disabled).active,
.show>.bg-gradient-submit.btn.dropdown-toggle {
    background-image: none !important;
}

.bg-gradient-submit.btn:hover {
    /* border: 1px solid #F7941D; */
    /* color: #F7941D !important; */
    background-color: #F79E33 !important;
}

.bg-gradient-submit.btn:disabled,
.bg-gradient-submit.btn.disabled {
    background-image: none !important;
    border-color: #ffffff;
    color: #fff;
}

/* Submit Button */

/* Reject Button */
/* .bg-gradient-reject {
    background: #F1F4FFFF linear-gradient(180deg, #F1F4FFFF, #ffc8be) repeat-x !important;
    border-color: #F1F4FFFF;
    color: #990011FF;
} */

.bg-gradient-reject.btn:not(:disabled):not(.disabled):active,
.bg-gradient-reject.btn:not(:disabled):not(.disabled).active,
.show>.bg-gradient-reject.btn.dropdown-toggle {
    background-image: none !important;
}

/* .bg-gradient-reject.btn:hover {
    background: #F1F4FFFF linear-gradient(180deg, #ffc8be, #F1F4FFFF) repeat-x !important;
    border-color: #F1F4FFFF;
    color: #990011FF;
} */

/* .bg-gradient-reject.btn:not(:disabled):not(.disabled):active,
.bg-gradient-reject.btn:not(:disabled):not(.disabled).active,
.bg-gradient-reject.btn:active,
.bg-gradient-reject.btn.active {
    background: #F1F4FFFF linear-gradient(180deg, #ffc8be, #F1F4FFFF) repeat-x !important;
    border-color: #F1F4FFFF;
    color: #990011FF;
}

.bg-gradient-reject.btn:disabled,
.bg-gradient-reject.btn.disabled {
    background-image: none !important;
    border-color: #F1F4FFFF;
    color: #990011FF;
} */

/* Reject Button */


/* Cancel Button */
.bg-gradient-cancel {
    background: #Fff !important;
    border-color: #F7941D;
    color: #F7941D !important;
}

.bg-gradient-cancel.btn:not(:disabled):not(.disabled):active,
.bg-gradient-cancel.btn:not(:disabled):not(.disabled).active,
.show>.bg-gradient-cancel.btn.dropdown-toggle {
    background-image: none !important;
}

/* .bg-gradient-cancel.btn:hover {
    background-color: #F7941D !important;
    border-color: #F1F4FFFF;
    color: #000000 !important;
} */

/* .bg-gradient-cancel.btn:not(:disabled):not(.disabled):active,
.bg-gradient-cancel.btn:not(:disabled):not(.disabled).active,
.bg-gradient-cancel.btn:active,
.bg-gradient-cancel.btn.active {
    background: #F1F4FFFF linear-gradient(180deg, #ccd7fd, #edeff7) repeat-x !important;
    border-color: #F1F4FFFF;
    color: #496e97;
} */

.bg-gradient-cancel.btn:disabled,
.bg-gradient-cancel.btn.disabled {
    background-image: none !important;
    background-color: #fff !important;
    border-color: #121212;
    color: #121212 !important;
}

/* Cancel Button */

.badge-warning {
    color: #fff !important;
    background-color: #F7941D !important;
    border-radius: 50% !important;
}

/* v_index */
.brand-link {
    padding: 0.5rem 0.5rem;
}

.nav-link.active {
    /* font-weight: 600; */
    background-color: #FEF4E8 !important;
    color: #F7941D !important;
    box-shadow: none !important;
    border-radius: 4px;
}

.nav-link.active:hover {
    color: #000 !important;
}

aside.main-sidebar {
    background-color: #fff !important;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.loader-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
    opacity: 0.4;
    background: linear-gradient(to right, rgb(255, 255, 255, .9), rgb(255, 255, 255, .9));
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: 0.5s ease-in-out;
}

/* v_index */

/* warn Button */
.bg-gradient-warn {
    /* background: #121212 !important; */
    border-color: #F7941D !important;
    color: #F7941D !important;
}

.bg-gradient-warn.btn:not(:disabled):not(.disabled):active,
.bg-gradient-warn.btn:not(:disabled):not(.disabled).active,
.show>.bg-gradient-warn.btn.dropdown-toggle {
    background-image: none !important;
}

input.form-control:focus { border: 1px solid #ddd !important;}

/* .bg-gradient-warn.btn:hover {
    background: #F7941D !important;
    border-color: none !important;
    color: #121212 !important;
} */

#id_backmodal { width: 80px;}

.btn-success:hover { border: none !important;}

.btn-success { color: #121212 !important;}

/* .bg-gradient-warn.btn:not(:disabled):not(.disabled):active,
.bg-gradient-warn.btn:not(:disabled):not(.disabled).active,
.bg-gradient-warn.btn:active,
.bg-gradient-warn.btn.active {
    background: #ff2700 linear-gradient(180deg, #ff836c, #ff2700) repeat-x !important;
    border-color: #ff2700;
    color: #fff;
} */

/* .bg-gradient-warn.btn:disabled,
.bg-gradient-warn.btn.disabled {
    background-image: none !important;
    border-color: #ff2700;
    color: #fff;
} */

/* Reject Button */

/* Nav bar styling start here */
.navbar-expand-md .navbar-collapse {
    justify-content: center;
}

.navbar-brand {
    padding-left: 0 !important;
}

.navbar-brand img {
    margin-left: 0 !important;
}

.collapse .nav-link {
    margin: 0 5px;
}

/* Nav bar styling end here */

/* table styling start here */
.table-bordered td,
.table-bordered th {
    border: none !important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: unset !important;
}

/* .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .03) !important;
} */
.table-striped tbody tr {
    border-bottom: 1px solid #fafafa !important;
}

.table-striped tbody tr:hover {
    background-color: #f4f6f9 !important;
}

/* table styling end here */

.form-control {
    border: 1px solid #ddd;
    background-color: #fff !important;
}

[class*=sidebar-dark-] .sidebar a {
    color: unset !important;
}

[class*=sidebar-dark] .brand-link {
    border-bottom: none !important;
}

.nav-sidebar>.nav-item {
    margin-bottom: 10px !important;
}

.form-control:disabled { background-color: #f4f4f4 !important;}

/* submit button styling start here */
#id_fksubmit {
    background: linear-gradient(90deg, #F7941D, #ED1C24) !important;
}
#id_fksubmit:hover{
    color: #fff !important;
}


.btn-sm {
    background-color: #F7941D !important;
    border: none !important;
}

.page-item.active .page-link {
    background-color: #F7941D !important;
    border: none !important;
    color: #000 !important;
}

/* .btn-sm:hover {
    background-color: #F79E33 !important;
} */

#custom-tabs-one-tab .nav-link {
    color: #333 !important;
}

#custom-tabs-one-tab .nav-link.active {
    color: #F7941D !important;
    border-left: 4px solid #F7941D !important;
    background-color: unset !important;
}

#vendor-custom-tabs-one-tab .nav-link.active {
    /* border-top: 2px solid #F7941D !important; */
    border: none !important;
}

.table-bordered {
    border: none !important;
}
.card-primary.card-outline {
    border-top: 3px solid #F7941D;
}

.text-info {
    color: #F7941D !important;
}

.search-box {
    background-color: #fff !important;
}

#actionfooter .bulkaction {
    background-color: #F7941D !important;
    border: none !important;
    color: #000 !important;
}

#actionfooter .bulkaction:hover {
    background-color: #F79E33 !important;
}


.table th { border: none !important; font-weight: 600 !important; color: #121212;}
#Create-btn {
    padding: 0.375rem 0.5rem;
    width: 100px;
}

.schedule_button { color: #121212 !important;}
/* .schedule_button:hover { background-color: #fff !important;} */

.modal-footer .btn-secondary { 
    background-color: #fff !important; 
    border: 1px solid #F7941D !important;
    color: #F7941D !important;
}

.card-header { font-weight: 600;}


.p-2 {
    /* background-color: #28a745 !important; */
    /* color: #fff !important; */
    padding: .5rem !important;
}

.reject{
    background-color: #ED1C24 !important;
    color: #fff !important;
    padding: .5rem !important;
}

.approve-reject {
    display: flex !important;
    align-items: flex-end !important;
    justify-content: flex-end !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #fff !important;
    color: #F7941D !important;
}

.addSubmit {
    background-color: #F7941D !important;
    /* border: 1px solid #F7941D !important; */
    color: #121212 !important;
}

/* .addSubmit:hover {
    background-color: #F7941D !important;
    color: #121212 !important;
} */

.addCancel {
    background-color: #fff !important;
    border: 1px solid #F7941D !important;
    color: #F7941D !important;
}

/* .addCancel:hover{
    background-color: #F7941D !important;
    color: #121212 !important;
} */

.upload_invoice, .upload_ewaybill, .other_document {
    width: 100% !important;
    color: #121212 !important;
    background-color: #fff !important;
    border: 1px solid #cecece !important;
}

/* .upload_invoice:hover, .upload_ewaybill:hover, .other_document:hover {
    transition: all ease .5s;
    color: #F7941D !important;
    border: 1px solid #F7941D !important;
} */

.card_boxshadow { box-shadow: none !important; border: 1px solid #eee !important;}

#add_comm {
    background-color: #F7941D !important;
    border: none !important;
    color: #121212 !important;
}

.asn_status_icon { color: #F7941D !important;}

.card_box_shadow { box-shadow: none !important;}

.card_border { 
    box-shadow: none !important;
    border: 1px solid #eee !important;
}

.buyer_approve_btn, .buyer_reject_btn { font-size: .90rem;}

.buyer_approve_btn {
    background-color: #28a745 !important;
    color: #fff !important;
}

.buyer_reject_btn {
    background-color: red !important;
    color: #fff !important;
}

.card-tabs .card-header { border-bottom: 1px solid #eee !important;}

/* .buyer_approve_btn:hover {
    transition: all ease .5s;
    background-color: #fff !important;
    color: #28a745 !important;
    border: 1px solid #28a745;
}

.buyer_reject_btn:hover {
    transition: all ease .5s;
    background-color: #fff !important;
    color: red !important;
    border: 1px solid red;
} */

#custom-tabs-one-tabContent .table td { border-top: none !important;}

#example1_wrapper .table td { border: none !important;}
#example1_wrapper .table tbody tr:hover { background-color: #f4f6f9 !important;}

.buyer-status-icon {
    font-size: .75rem;
    color: #F7941D !important;
}

.template_format { 
    font-weight: 500;
    font-size: 24px;
    color: #999 !important;
    font-style: normal !important;
}

.template_file {
    padding: 0rem 0.4rem;
    border: 1px solid #666;
    border-radius: 4px;
}

.template_file_vendorline,.template_format_stock_upload,.template_format_productionline { padding: 0.4rem 0.4rem; border: 1px solid #666; border-radius: 4px;}

.template_format_stock_upload,.template_format_productionline { padding: .5rem .4rem !important;} 

.file-upld-btn {
    color: #F7941D !important;
    background-color: #fff !important;
    border: 1px solid #F7941D !important;
}

.bulk_upload,.template_format_stock_upload,.template_format_productionline { color: #121212;}

#id_import { width: 100%;}

#id_pohead { background-color: #fff !important;}
.fa-file-download { color: #121212; font-size: 18px;}

a:hover { color: unset !important;}
/* .fa-file-download:hover { color: #121212;} */

/* #OpenImgUpload {
    background-color: #fff !important;
    color: #121212 !important;
    border:  1px solid #cecece !important;
} */

/* #OpenImgUpload:hover {
    color: #F7941D !important;
    border-color: #F7941D !important;
} */

/* Sidebar styling starts here */
.sidebar {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
}

.main-sidebar {
    height: 100%;
    width: 60px;
    position: fixed;
    top: unset !important;
    left: 0;
    background-color: #fff;
    transition: width 0.5s ease-out, box-shadow 0.5s ease-out;
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22)!important;
    display: inline-block;
    overflow-x: hidden;
}

.content-wrapper {
    margin-left: 60px !important;
    overflow-x: hidden;
    transition: margin-left 0.5s ease-out;
}

body:not(.layout-fixed) .main-sidebar {
    position: fixed !important;
}

.main-sidebar:hover {
    width: 210px;
    transition: width .5s ease-out;
}

.main-sidebar:hover + .content-wrapper {
    margin-left: 210px !important;
}

.main-sidebar:hover  .nav-treeview {
    margin-left: 20px; 
    transition: margin-left 0.5s ease-out; 
}

.wrapper { background-color:  #f4f6f9 !important;}
.sidebar-collapse .main-sidebar,
.sidebar-collapse .main-sidebar::before {
    margin-left: 0 !important;
}

.main-sidebar .nav-link p {
    /* display: none; */
    font-size: 14px !important;
    white-space: nowrap;
}

.main-sidebar:hover .nav-link p {
    display: unset;
}

.main-sidebar:hover .nav-item {
    display: block;
}


.main-sidebar .nav-link {
    margin-left: .2rem !important;
}

.menu_icon {
    position: absolute;
    left: 10%;
    display: none;
}

.sidebar-collapse:not(.sidebar-mini):not(.sidebar-mini-md):not(.sidebar-mini-xs) .main-sidebar, .sidebar-collapse:not(.sidebar-mini):not(.sidebar-mini-md):not(.sidebar-mini-xs) .main-sidebar::before {
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)!important;
}

.main-sidebar .nav-item .nav-link.active { color: #F7941D !important;}

.main-sidebar .nav-link.active { background-color: #fff !important;}

.nav-sidebar .nav-link>.right, .nav-sidebar .nav-link>p>.right {
    position: absolute;
    right: -0.4rem !important;
    top: 0.7rem !important;
}


/* Add this CSS to center the icon and text in the sidebar */

  .nav-sidebar .nav-item .nav-link {
    display: flex;
    align-items: center;
    flex: 1; 
  }
  
  .nav-sidebar .nav-item .nav-link i {
    margin-right: 15px;
  }
/* Sidebar styling ends here */

.navbar-nav .nav-item .nav-link { color: #121212 !important;}

.navbar-nav .nav-item .nav-link:hover { color: #F7941D !important;}

.navbar-nav .nav-item .nav-link.active { color: #F7941D !important;}

table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_desc:after {
    opacity: 0 !important;
}

table.dataTable>thead .sorting:before, table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_desc:before, table.dataTable>thead .sorting_asc_disabled:before, table.dataTable>thead .sorting_desc_disabled:before {
    display: none !important;
}

table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting_asc_disabled:after, table.dataTable>thead .sorting_desc_disabled:after {
    display: none !important;
}

.buyer_material table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_desc:after { opacity: 100% !important;}

.buyer_material table.dataTable>thead .sorting:before, table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_desc:before, table.dataTable>thead .sorting_asc_disabled:before, table.dataTable>thead .sorting_desc_disabled:before {
    display: block !important;
}

.buyer_material table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting_asc_disabled:after, table.dataTable>thead .sorting_desc_disabled:after {
    display: block !important;
}

.save { color: #121212 !important;}


.table_width { width: 13% !important;}


#example1_filter input[type="search"] {
    height: 42px !important;
    width: 250px !important;
}

div.dataTables_wrapper div.dataTables_filter input { margin-left: 0 !important;}

#material_list th:nth-child(7) { width: 120px !important;}

.cancel_btn { color: #fff !important;}

.sap_vendorcode {
    font-size: 16px;
    color: #121212;
}

#example1_wrapper .row:first-child { width: 0 !important;}

/* #example1_wrapper .row:nth-child(2) { padding-left: 0 !important;} */

.text_light { color: #F7941D !important; font-weight: 500 !important;}

.asn_files {
    text-transform: uppercase !important;
    color: #F7941D !important;
    font-weight: normal !important;
    margin-right: 20px !important;
    text-decoration: underline 1px solid #F7941D !important;
    border-right: 1px solid #F7941D!important;
    padding-right: 15px !important;
}
.asn_files:last-child { border-right: none !important;}

.asn_files:hover { color: #000 !important;}

/* .btn-sm { color: #121212 !important;} */

.cancel_btn {
    border: 1px solid #F7941D !important;
    color: #F7941D !important;
    background-color: #fff !important;
}

/* .profile_icon { color: #121212 !important;} */

.asn_download_icon {
    margin-right: 5px; 
    color: #121212; 
    font-size: 12px; 
}
  
.btn-default {
    background-color: #f8f9fa !important;
    border-color: #ddd !important;
    color: #444 !important;
}

.note-editor .btn-sm { color: #121212 !important;}

#name.form-control:focus, 
#capacity.form-control:focus,
#vendor-factory-id.form-control:focus,
#uom.form-control:focus,
#otp.form-control:focus
 { border: 1px solid #007bff !important;}

.mgt { margin-top: 2rem !important;}

.form-control:disabled, .form-control[readonly] {
    background-color: #eee !important;
    opacity: 1;
}
  
/* .note-btn[data-original-title="Picture"], */
.note-btn[data-original-title="Video"],
.note-btn[data-original-title="Help"],
.note-btn[data-original-title="Code View"],
.note-btn[data-original-title="Full Screen"]
{ display: none !important;}

.main-footer { 
    padding: .5rem !important;
    position: fixed ;
    bottom: 0 ;
    left: 0 ;
    width: 100%;
    z-index: 99;
}

.card-body { padding: 1rem !important;}

.change_pass  { 
    background-color: #F7941D !important;
    color: #121212 !important;
    border: 1px solid #F7941D !important;
}

.input.password label { font-size: 1rem !important;}
.continue_btn { 
    background-color: #F7941D !important;
    color: #121212 !important;
}
.continue_btn:hover { color: #121212 !important;}

.product-img .onboarding_icon { color: #4F98C3 !important;}
.product-img .created_icon { color: #4F98C3 !important;}
.product-img .intransit_icon { color: #ED1C24 !important;}
.product-img .received_icon { color: #28a745 !important;}

/* .content {
    box-shadow: none !important;
    border:  1px solid #eee !important;
} */

div.table-responsive>div.dataTables_wrapper>div.row>div[class^=col-]:last-child {
    padding-left: 0;
}

/* #continueSub { color: #F7941D !important;} */
#continueSub:hover { color: #121212 !important;}

tr:has(.fa-envelope-open-text) {
    background-color: #FEF4E8 !important;
}

tr td, tr th {
    vertical-align: middle !important;
}

.upload_file { width: 100%;}
.template_class {
    color: #F7941D !important;
    padding-top: 10px !important;
    font-style: normal !important;
}

.template_class:hover { color: #121212 !important;}

.card {
    box-shadow: none !important;
    border: 1px solid #eee !important;
}

.prod_icon { font-size: .9rem !important;}

#line-capacity,
#total,
#balance { font-weight: bold;}

/* .upld_btn  { border-radius: .25rem 0 0 .25rem  !important;} */

/* .import_btn { border-radius: 0 .25rem .25rem 0 !important;} */

.upld_btn  {
    border: 1px solid #F7941D !important;
    color: #F7941D !important;
    background-color: #fff !important;
}

.buyer_material #example1_filter label { color: transparent !important; margin-left: -49px;}

.ok_btn {
    background-color: #F7941D !important;
}

.template_format_po {
    padding: .5rem .4rem !important;
    border: 1px solid #121212;
    color: #121212;
    border-radius: 4px;
}

.material_file {
    padding: .5rem .4rem !important;
    border: 1px solid #666;
    color: #666;
    border-radius: 4px;
}

.material_stock_file {
    padding: .4rem .4rem !important;
    border: 1px solid #666;
    color: #666;
    border-radius: 4px;
}

#custom-tabs-three-tab a { color: #121212 !important;}

#custom-tabs-three-tab .nav-link.active { color: #F7941D !important;}

.notify {
    background-color: #F7941D;
    color: #121212;
}

label { color: #121212 !important;}

th.actions { width: unset !important;}

.dt-buttons { position: absolute !important;}

.buttons-copy { background-color: #F7941D; color: #121212; margin-right: 10px; border-radius: 4px !important; border-color: #F7941D !important;}

.buttons-copy:hover { background-color: #F7941D; color: #121212; }

.buttons-copy:focus { background-color: #F7941D !important;}

.buttons-excel { background-color: #fff; color: #F7941D; border: 1px solid #F7941D; border-radius: 4px !important;}
.buttons-excel:focus { background-color: #fff !important; color: #F7941D !important; border: 1px solid #F7941D !important;}
.buttons-excel:hover { background-color: #fff; color: #F7941D; border: 1px solid #F7941D;}

.buyer_material div.dataTables_wrapper div.dataTables_filter label { text-align: right !important;}

.table thead th a {
    font-weight: 600 !important;
    color: #121212 !important;
    font-size: 12px !important;
    letter-spacing: .7px !important;
}

.new_vendor_btn { 
    background-color: #F7941D !important;
    color: #121212 !important;
    padding: 8px 15px !important;
    border-radius: 5px;
    margin-bottom: 10px;
}

.page-link { color: #121212 !important;}

tr td a { color: #121212 !important;}

.vendorTemps { background-color: #fff !important; padding: 15px  !important;}

.vendorTemps .btn { background-color: #F7941D !important;
    color: #121212 !important;  border: none !important; margin-top: 10px; }

.po_padding {
    margin: 10px !important;
    padding: 10px 15px !important;
    background-color: #fff;
}

.side-nav-item {
    color: #121212;
    margin-right: 15px;
    padding: 8px;
    background-color: #F7941D;
    color: #121212;
    border-radius: 5px;
}

.action-btn {
    display: flex;
    flex-direction: column;
}

.padd_ing { margin: 10px;}

.change-buyer-status { padding: 6px 10px; background-color: #F7941D; border-radius: 4px;}

.admin-edit { background-color: #fff; padding: 10px 15px;}

.related,.accountGroups { margin-top: 20px;}

.side-nav .heading { margin-bottom: 15px;}

.purchasingOrganizations { margin-top: 15px;}

.btn_npo { padding: 8px 10px ; background-color: #F7941D; border-radius: 4px; color: #121212; }

.graph_search {
    background-color: #F7941D !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #F7941D !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #F7941D !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{ color: #121212 !important;}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove { color: #121212 !important;}

div.dataTables_wrapper div.dataTables_filter label { color: transparent !important;}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: unset !important;
    font-weight: normal !important;
}

.select2-container--default .select2-selection--multiple { border: 1px solid #ddd !important;}
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
        tr td,
        tr th {
            vertical-align: middle !important;
        }
    }
}

/* Responsive Styling start here */

/* Media query for 1024px start here*/
@media only screen and (max-width: 1024px) {
    .navbar-nav .nav-item .nav-link { font-size: 14px;}
    .collapse .nav-link { margin: unset;}
    .menu_icon { left: 11.5%;}
    .left-s img { width: 100px !important;}
    .v_profile {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .table_centr { display: flex; justify-content: center;}

    /* .buyer_profile { flex-direction: column !important;} */
}
/* Media query for 1024px end here */

/* Media query for 768px and 966px start here */

@media only screen and (min-width: 768px) and (max-width: 966px) {
    .navbar-expand-md>.container-fluid { flex-wrap: wrap !important;}
    .navbar-expand-md .navbar-toggler { display: block !important; }
     .navbar-expand-md .navbar-collapse { display: unset !important; }
     .collapse:not(.show) {
        display: none !important;
    }
    .navbar-nav {
        flex-direction: column !important;
    }
    .navbar-expand-md .navbar-collapse { flex-basis: 100% !important;}
    .main-sidebar { display: none;}
    .content-wrapper { margin-left: 0 !important;}

    .profile_row {
        flex-direction: column !important;
    }
}
/* Media query for 768px and 966px end here */


/* Media query for 768 px start here */
@media only screen and (max-width: 768px){
    .main-sidebar { display: none;}

    .content-wrapper { margin-left: 0 !important;}

    .navbar-nav .nav-link { padding-left: 20px;}

    .dropdown-menu .nav-link { padding-left: 20px;}

    .asn_header_bg .asn_view { gap: 15px !important;}

    .table_centr { display: flex; justify-content: center;}
    
     .buyer_profile { margin-top: 10px !important; padding-left: 0 !important; padding-right: 10px !important;}

     .navbar-nav .nav-item .nav-link { font-size: 16px; }

}

/* Media query for 768px end here */


/* Media query for 425px start here*/
@media only screen and (max-width: 425px) {
    .prod_confrm { justify-content: start !important; margin-left: 9px; margin-top: 20px;}

    .same_addr { float: left !important; margin-top: 10px ;}

    .table_centr { display: flex; justify-content: center;}

    .action-btn { justify-content: start !important; margin: 0 0 10px 0;}

    .add-stock-btn,.add-monitor-btn,.add-material-btn, .material_fileupld { justify-content: start !important; margin-top: 20px;}

    .upld-material-head { flex-direction: column !important;}

    .stock_fileupload,.refresh_btn,.add_prod { justify-content: start !important; margin-top: 20px;}
}
/* Media query for 425px end here */