.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #121212 !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #ddd !important;
}

.select2-container--default.select2-container .select2-selection--multiple {
    border: 1px solid #ddd !important;
}

.select2-container--default .select2-selection--single .select2-selection__choice__remove {
    color: #121212 !important;
}

.select2-container--default.select2-container--focus .select2-selection--single {
    border: 1px solid #ddd !important;
}

.select2-container--default.select2-container .select2-selection--single {
    border: 1px solid #ddd !important;
}

.select2-results__option {
    padding-right: 20px;
    vertical-align: middle;
  }
  .select2-results__option:before {
    content: "";
    display: inline-block;
    position: relative;
    height: 16px;
    width: 16px;
    border: 2px solid #e9e9e9;
    border-radius: 4px;
    background-color: #fff;
    margin-right: 20px;
    vertical-align: middle;
  }
  .select2-results__option[aria-selected=true]:before {
    font-family:fontAwesome;
    /* content: "\f00c"; */
    color: #fff;
    background-color: #F7941D;
    border: 2px solid #ddd;
    display: inline-block;
    padding-left: 3px;
  }
  .select2-container--default .select2-results__option[aria-selected=true] {
      background-color: #fff !important;
  }
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
      background-color: #eaeaeb;
      color: #272727;
  }
  .select2-container--default .select2-selection--multiple {
      margin-bottom: 10px;
  }
  .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
      border-radius: 4px;
  }
  .select2-container--default .select2-selection--single {
    margin-bottom: 10px;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
    border-radius: 4px;
}
  .select2-container--default.select2-container--focus .select2-selection--multiple {
      border-color: #121212;
      border-width: 2px;
  }
  .select2-container--default.select2-container--focus .select2-selection--single {
    border-color: #121212;
    border-width: 2px;
}
  .select2-container--default .select2-selection--multiple {
      border-width: 2px;
  }
  .select2-container--default .select2-selection--single {
    border-width: 2px;
}
  .select2-container--open .select2-dropdown--below {
      
      border-radius: 6px;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
  
  }
  .select2-selection .select2-selection--multiple:after {
      content: 'hhghgh';
  }
  .select2-selection .select2-selection--single:after {
    content: 'hhghgh';
}
  /* select with icons badges single*/
  .select-icon .select2-selection__placeholder .badge {
      display: none;
  }
  
  .select-icon .select2-results__option:before,
  .select-icon .select2-results__option[aria-selected=true]:before {
      display: none !important;
      /* content: "" !important; */
  }
  .select-icon  .select2-search--dropdown {
      display: none;
  }



  .select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
    background-color: #F7941D !important;
    color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #F7941D !important;
    color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #F7941D !important;
    border: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__choice {
    background-color: #F7941D !important;
    border: none !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #121212 !important;
}

.select2-container--default .select2-selection--single .select2-selection__choice__remove:hover {
    color: #121212 !important;
}

.select2-container--default .select2-selection--single {
    background-color: white;
    border-radius: 4px;
    cursor: text;
    padding-bottom: 5px;
    padding-right: 5px;
    position: relative;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 38px !important;
    user-select: none;
    -webkit-user-select: none;
}