
/* .card-body{
    padding:0.1rem;
    background-Color:WHITE
}
.table td, .table th{font-size:small;}
.card-header{
    padding:0.3rem
}
label{
    margin-top:0.5rem
}
.table td, .table th{
    padding:0rem
}
.table> :not(caption)>*>*{
    padding:0.3rem 0.3rem
}
.mb-2, .my-2{
    margin-bottom:0.5rem
} */