.table td,
.table th {
	padding: 0rem
}
.vendor-list .badge {
    padding: 6px 8px !important;
    font-size: 0.6rem !important;
    border-radius: 3px !important;
    cursor: pointer;
}

.hr {
	margin-top: 10rem;
	margin-bottom: 10rem;

}

.table thead th {
    font-weight: 500;
    color: #fff !important;
    font-size: 12px !important;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px
}

.table>thead{
    background-color: #F79E33 !important;
}
.text-info { color: #F79E33 !important;}
.table>tbody{
	background-color: #f5f7fd !important;
}
.table th{
	font-size:12px;
}
/* .table td, .table th{
	font-size:14px;
} */
.badge.bg-warning {
    background: #F7941D !important;
    color: #fff !important;
}
/* .page-item.active .page-link {
   color: #F7941D !important;
    background-color: #fff !important;
    border-color: unset !important;
} */
/* .page-link{
	color: #112a68 !important;
} */
.table-hover tbody tr:hover {
   
    background-color:#E7EAF0!important;
}
.vl { border-left: 6px solid #F7941D !important;}

.btn-group-sm>.btn, .btn-sm{
	font-size:10px
}


.table tbody tr td {
    font-size: 14px;
}

.modal_cancel {
    background-color: #fff !important;
    color: #ED1C24 !important;
    border: 1px solid #ED1C24 !important;
}

.modal_ok {
    background-color: #fff !important;
    color: #F7941D !important;
    border: 1px solid #F7941D !important;
}

#example1 a.schedule_item:hover {
    background-color: #fff !important;
    color: #F7941D !important;
    border: 1px solid #F7941D !important;
}

.dismiss-btn,#btnClose {
    background-color: #fff !important;
    color: #F7941D !important;
    border: 1px solid #F7941D !important;
}

.btnSub,.btn-sm { color: #fff !important;}
.btnSub:hover,.btn-sm:hover { color: #fff !important;}
