body,
h5,
h6,
p,
h4,
h3,
label {
    font-family: 'Roboto', sans-serif !important;
}

.custom-i {
    background-color: #ffc107 !important;
}

.navbar {
    padding: 0rem 0rem
}

.brand-link {
    padding: 0.4rem 0.4rem
}

.user-panel img {
    width: 1.5rem
}

/* aside.main-sidebar:hover {
width: 210px !important;
} */
.main-sidebar,
.main-sidebar::before {
    width: 207px
}

.layout-fixed .brand-link {
    width: 207px
}

body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper,
body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer,
body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
    margin-left: 209px
}

.user-panel .image {
    padding-left: 0px;
}

.badge-warning {
    background-color: #ffc107
}

.navbar.card-header h4 {
    color: #004d87;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.04rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

.navbar-nav .nav-item i.fas.fa-bars {
    line-height: 1.6rem;
}

.nav-sidebar .nav-item .nav-link p {
    font-size: 13px;
}

.user .thumb {
    margin-right: 10px;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
}

.user .thumb img {
    width: 35px;
}

.user {
    display: flex;
    align-items: center;
}

.user-setting {
    width: auto;
    max-width: 250px;
    min-width: 200px;
}

.user-info h6 {
    white-space: initial;
}